{% extends 'base.html.twig' %}

{% block title %}Отредактировать автора{% endblock %}

{% block body %}
    <h1>Отредактировать автора</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('author_index') }}">Вернуться к списку авторов</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
